.services-container {
  display: flex;
  flex-direction: row;
  width: 100%;

  .cover-left {
    width: 100%; /* Beide delen krijgen 50% van de breedte */
  }

  .cover-left img,
  img {
    width: 100%; /* Zorg ervoor dat de afbeeldingen 100% van hun container innemen */
    // height: 100vh; /* Zorg ervoor dat de afbeeldingen de volledige hoogte van het scherm innemen */
    object-fit: cover; /* Bedek het gebied en behoud de verhoudingen */

    @media (max-width: 768px) {
      height: 120vh;
    }
  }

  .services-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;

    .hover-underline-animation {
      position: relative;
      // margin-left: 2rem;
      margin-bottom: 1.5rem;
      color: black;
      font-weight: 500;
      font-size: 1.2rem;
      text-decoration: none;

      &::after {
        content: "";
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 1px;
        bottom: -2px;
        left: 0;
        background-color: black;
        transform-origin: bottom right;
        transition: transform 1s ease;
      }

      &:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }

      @media (max-width: 768px) {
        margin-left: 0rem;
        width: 100%;
      }
    }
  }
}

.bookpromotion-cover {
  position: sticky;
  top: 0;

  width: 100%;

  z-index: 3;
  > img {
    object-fit: cover;

    width: 100%;
  }
}

.container-after-header {
  position: relative;
  padding-top: 5rem;
  z-index: 4;
  background-color: #fbf9ea;
  display: flex;
  flex-direction: row;
  width: 100%;

  @media (max-width: 768px) {
    flex-direction: column;
  }
  .after-header-left {
    width: 50%;
    display: flex;
    flex-direction: column;

    > img {
      object-fit: cover;
      height: 800px;
      // width: 50%;
      // padding: 2rem;
      padding-left: 2rem;
      padding-right: 2rem;
    }

    @media (max-width: 768px) {
      width: 100%;
      > img {
        object-fit: cover;
        height: 100%;
        width: 100%;
        padding: 0;
      }
    }
  }

  .after-header-right {
    width: 50%;

    display: flex;
    flex-direction: column;
    margin-left: 2rem;

    > h3 {
      margin-top: 3rem;
      margin-bottom: 6rem;
      line-height: 5rem;
      overflow: hidden;
    }

    .process-container {
      display: flex;
      flex-direction: row;
      margin-bottom: 5rem;

      .process-nunmber {
        font-size: 1rem;
      }

      .process-content {
        display: flex;
        flex-direction: column;
        margin-left: 5rem;

        > h4 {
          font-size: 1rem;
          margin-bottom: 2rem;
        }

        > p {
          font-size: 1rem;
          color: #86888a;
          width: 30rem;
        }
      }
    }

    @media (max-width: 768px) {
      width: 100%;
      // margin-left: 1rem;
      // margin-right: 1rem;
      margin: 0;
      > h3 {
        margin-top: 3rem;
        margin-bottom: 3rem;
        line-height: 5rem;
        overflow: hidden;
        margin-left: 1rem;
        margin-right: 1rem;
      }

      .process-container {
        display: flex;
        flex-direction: column;
        margin-bottom: 3rem;
        margin-left: 1rem;
        margin-right: 1rem;
        .process-nunmber {
          font-size: 1rem;
          width: 100%;

          margin: 0;
          padding: 0;
        }

        .process-content {
          width: 100%;
          display: flex;
          flex-direction: column;
          margin-left: 0;
          margin-bottom: 0;

          > h4 {
            font-size: 1rem;
            width: 100%;
            margin-top: 1rem;
            margin-bottom: 1rem;
          }

          > p {
            font-size: 1rem;
            width: 100%;
            color: #86888a;
          }
        }
      }
    }
  }
}
.bookpromotion-dual {
  position: relative;

  z-index: 4;
  background-color: #fbf9e9;
  width: 100%;
  display: flex;

  margin-top: 0;
  padding-top: 10rem;
  // color: #fbf9e9;
  justify-content: center;

  @media (max-width: 768px) {
    padding-top: 5rem;
    padding-bottom: 0;
  }
  .dual-right {
    width: 50%;
    margin-left: 2rem;
    margin-right: 2rem;

    > div {
      margin-bottom: 3rem;
      h4 {
        font-size: 2.5rem;
        line-height: 3rem;
        font-weight: 500;
        margin-bottom: 0.5rem;

        @media (max-width: 768px) {
          font-size: 2rem;
          line-height: 2.5rem;
        }
      }

      > hr {
        margin-top: 2rem;
        width: 100%;
        border: 0.2px solid lightgray;
        opacity: 0.5;
      }

      .hover-underline-animation {
        position: relative;

        color: black;
        font-weight: 500;
        font-size: 1.3rem;
        text-decoration: none;

        &::after {
          content: "";
          position: absolute;
          width: 100%;
          transform: scaleX(0);
          height: 1px;
          bottom: -2px;
          left: 0;
          background-color: black;
          transform-origin: bottom right;
          transition: transform 1s ease;
        }

        &:hover::after {
          transform: scaleX(1);
          transform-origin: bottom left;
        }
      }
    }

    .dual-info {
      width: 100%;

      display: flex;

      justify-content: space-between;
      margin-top: 2rem;

      > h5 {
        font-size: 1.125rem;
        line-height: 1.5rem;
        font-weight: 500;
        // margin-bottom: 0.5rem;
      }
      > p {
        // color: #86888a;
        font-size: 1.125rem;
        line-height: 1.5rem;
        // width: 40rem;
      }
    }
    > hr {
      // margin-top: 2rem;
      width: 100%;
      border: 0.2px solid lightgray;
      opacity: 0.5;
    }

    @media (max-width: 768px) {
      width: calc(100% - 3rem);
      margin: 0 1.5rem;
    }
  }
}
.bookpromotion-images {
  position: relative;
  height: 100vh;
  width: 100%;
  z-index: 5;
  background-color: #fbf9e9;
  display: flex;

  > img {
    height: 100%;
    object-fit: cover;
  }
}

.limbacovertekst {
  margin-left: 2rem;
  margin-top: 0.5rem;

  @media (max-width: 768px) {
    margin-left: 1rem;
    margin-top: 2rem;
  }
}

.summary-parent-container {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  > h3 {
    margin-left: 2rem;
    margin-bottom: 2rem;
    overflow: hidden;
    @media (max-width: 768px) {
      margin-left: 1rem;
      margin-top: 5rem;
    }
    @media (max-width: 480px) {
      font-size: 3rem;
    }
  }

  .summary-container {
    width: 40%;
    margin-left: 2rem;
    margin-right: 4rem;

    @media (max-width: 768px) {
      width: 90%;
      margin-left: 1rem;
      margin-right: 0rem;
    }
  }
}

.summary-right-container {
  height: 100vh;

  width: 50%;
  display: flex;
  margin-top: -8rem;

  @media (max-width: 768px) {
    display: none;
  }
  img {
    width: 80%;
    object-fit: cover;
  }
}
