.accordion-container {
  background-color: #fbf9ea;
  padding-top: 15rem;
  padding-bottom: 15rem;
  width: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 5;

  @media (max-width: 768px) {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

.accordion-content-wrapper {
  width: 50%;
  margin: auto;

  @media (max-width: 768px) {
    width: calc(100% - 3rem); // Full width minus 1.5rem on each side
    margin: 0 1.5rem;
  }
}

.accordion-heading {
  font-size: 2.5rem;
  line-height: 3rem;
  margin-bottom: 0.5rem;

  @media (max-width: 768px) {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

.accordion-subheading {
  font-size: 1.375rem;
  font-weight: 500;
  margin-bottom: 2rem;

  @media (max-width: 768px) {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
  }
}

.accordion-item {
  border-top: 0.2px solid lightgray;
  padding: 2rem 0;

  @media (max-width: 768px) {
    padding: 1.5rem 0;
  }
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.accordion-title {
  font-size: 1rem;
  font-weight: 500;

  @media (max-width: 768px) {
    font-size: 0.9rem;
  }
}

.accordion-icon {
  font-size: 2rem;
  font-weight: 300;
  transition: transform 0.3s ease;

  @media (max-width: 768px) {
    font-size: 1.5rem;
  }
}

.accordion-content {
  overflow: hidden;
  opacity: 0;

  @media (max-width: 768px) {
    font-size: 0.9rem;
  }
}

.accordion-body {
  margin-top: 10px;

  @media (max-width: 768px) {
    margin-top: 5px;
  }
}

.accordion-text {
  font-size: 1rem;
  font-weight: 500;
  color: #86888a;

  @media (max-width: 768px) {
    font-size: 0.9rem;
  }
}

hr {
  width: 100%;
  border: 0.2px solid lightgray;
  opacity: 0.4;
}

.hover-underline-container {
  margin-top: 2rem;

  @media (max-width: 768px) {
    margin-top: 1.5rem;
  }
}

.hover-underline-animation {
  position: relative;
  margin-bottom: 1.5rem;
  margin-top: 10rem;
  color: black;
  font-weight: 500;
  font-size: 1.5rem;
  text-decoration: none;

  @media (max-width: 768px) {
    font-size: 1.2rem;
    margin-top: 5rem;
  }

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: -2px;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 1s ease;
  }

  &:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}
